<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KMlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KMlib_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9434CBAC182E869300D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9434CBDE182E90EA00D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9434CBED182E90EA00D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9434CC18182E9BF900D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9434CC49182EAE1400D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9434CC56182EAE1400D07014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9489FB711826B4C8009BBB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
